@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    height: 500vh;
    background-size: cover;
    overflow-x: hidden;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    font-weight: bold;
}
.menu li a{
    transition: 0.2s ease;
}
.menu li a:hover{
    color: var(--color-primary);
    font-size: 17px;
    transition: 0.2s ease;
}
.menu_item2 img{
    width: 80px;
    height: 80px;
    margin: 20px 0;
    object-fit: contain;
}

.menu_item1, .menu_item3{
    display: flex;
    flex-direction: row;
}
.menu_item1 li, .menu_item3 li{
    list-style: none;
    margin: 0 15px;
}
.menu_item1 li a, .menu_item3 li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-font);
}

#home{
    display: flex;
    flex-direction: row;
}
.home_item1{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.home_item2{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(40, 40, 46, 0.877), rgba(40, 40, 46, 0.877)), url(../storage/img/placeYourImageHere0.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.img1{
    flex: 1;
    padding: 40px;
}
.contactUs{
    flex: 1;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text1{
    color: var(--color-primary);
    font-size: 70px;
}
.parragraph1{
    color: white;
    font-size: 20px;
}
.button1 button{
    font-size: 18px;
    background: var(--color-primary);
    width: 170px;
    height: 60px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}
.button1 button:hover{
    transition: 0.2s ease;
    transform: scale(1.1);
}

.about_item2{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100vh;
    z-index: -1;
    background: var(--color-secundary);
    background-repeat: no-repeat;
    background-size: cover;
}
#about_item1{
    margin-top: 50px;
    display: flex;
    color: white;
    justify-content: center;
}
.img2{
    width: 500px;
    height: 520px;
    object-fit: fill;
}
.aboutUs{
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25px;
    font-weight: bold;
}
.aboutUs .parragraph2{
    font-size: 28px;
}
.aboutUs .text2{
    font-size: 40px;
    margin-bottom: 10px;
}

.food_item3{
    width: 100%;
    height: 250vh;
    position: absolute;
    top: 200vh;
    z-index: -2;
    background: var(--color-secundary);
    background-repeat: no-repeat;
    background-size: cover;
}
.food_line{
    margin-top: 54px;
    width: 100%;
    height: 200vh;
    position: absolute;
    z-index: -1;
}
.food_item1{
    position: absolute;
    height: 250vh;
    width: 100%;
}
.food_content1{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
}
.food_content2{
    position: absolute;
    height: 150vh;
    width: 100%;
    display: flex;
    box-sizing: content-box;
    bottom: 100px;
}
.food_img2{
    height: 70vh;
    top: 45vh;
    position: absolute;
}
.food_img3{
    position: absolute;
    right: 0;
    height: 120vh;
    top: 2vh;
}
.food_text{
    position: absolute;
    color: white;
    width: 500px;
    left: 50px;
    top: 300px;
}
.food_text h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.food_text p{
    font-size: 30px;
}
.food_img1{
    position: absolute;
    right: 0;
    top: 0;
    height: 600px;
}


#gallery{
    position: absolute;
    height: 200vh;
    width: 100%;
    top: 400vh;
    box-sizing: border-box;
}
.gallery_item3{
    width: 100%;
    height: 200vh;
    position: absolute;
    z-index: -1;
    background: var(--color-secundary);
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery_item1{
    top: 40px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery_item1 a{
    color: white;
    font-size: 40px;
    margin-bottom: 70px;
}
.gallery_item1 .gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}.gallery_item1 .gallery img{
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}
.gallery_item1 .gallery img:hover{
    transition: 0.2s ease;
    transform: scale(1.1);
}

#enjoy{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 595vh;
    box-sizing: border-box;
}
.enjoy_item3{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background: url(../storage/img/placeYourImageHereOur0.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.enjoy_item1{
    display: flex;
    justify-content: center;
}
.enjoy_item1 .enjoy_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    width: 600px;
    height: 500px;
    top: 70px;
    border: 10px solid var(--color-primary);
    background-color: var(--color-secundary);
    padding: 20px;
    box-sizing: border-box;
}
.enjoy_box h1{
    font-size: 50px;
}
.enjoy_box p{
    font-size: 30px;
}


#menus{
    position: absolute;
    height: 130vh;
    width: 100%;
    top: 690vh;
    box-sizing: border-box;
}
.menus_item3{
    width: 100%;
    height: 130vh;
    position: absolute;
    z-index: -1;
    background: var(--color-secundary);
    background-repeat: no-repeat;
    background-size: cover;
}
.menus_item1{
    top: 70px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menus_item1 .title1 h1{
    color: white;
    font-size: 8vh;
    margin-bottom: 5vh;
}
.menus{
    display: flex;
}
.menu1, .menu2, .menu3{
    width: 63vh;
    margin: 0 2vh;
    transition: 0.2s ease;
    cursor: pointer;
}
.menu1:hover, .menu2:hover, .menu3:hover{
    transition: 0.2s ease;
    transform: scale(1.1);
}
.menu_text{
    margin-top: 2vh;
    width: 100%;
}
.menu_text .menu_title1{
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 18px;
}
.menu_text .menu_paragraph1{
    color: white;
    font-weight: bold;
}
.menu_text .menu_price1{
    color: var(--color-primary);
}


#enjoy_meal{
    position: absolute;
    height: 90vh;
    width: 100%;
    top: 808vh;
    box-sizing: border-box;
}
.enjoyM_item3{
    width: 100%;
    height: 90vh;
    position: absolute;
    z-index: -2;
    background: var(--color-secundary);
    background-repeat: no-repeat;
    background-size: cover;
}
.enjoyM_item4{
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 65vh;
    top: 6vh;
    background: var(--color-primary);
}
.enjoyM_item1{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}
.enjoyM_item1 .enjoyM_img{
    height: 500px;
}
.enjoyM_item1 .enjoyM_text{
    margin-left: 10vh;
    width: 80vh;
    color: white;
    box-sizing: border-box;
}
.enjoyM_text .enjoyM_title{
    font-size: 40px;
}
.enjoyM_text .enjoyM_paragraph{
    font-size: 20px;
    font-weight:bold;
}


#footer{
    position: absolute;
    height: 40vh;
    width: 100%;
    top: 878vh;
    box-sizing: border-box;
}
.footer_item3{
    width: 100%;
    height: 40vh;
    position: absolute;
    z-index: -1;
    background: var(--color-ternario);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer_item1{
    width: 100%;
    height: 40vh;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_item1 .footer_items{
    display: flex;
    justify-content: space-between;
    width: 100vh;
    list-style: none;
    margin: 3vh 0 3vh;
}
.footer_items a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-font);
    transition: 0.2s ease;
}
.footer_items a:hover{
    transition: 0.2s ease;
    color: var(--color-primary);
    font-size: 18px;
}
.social_media{
    width: 30vh;
    display: flex;
    justify-content: space-between;
}
.social_media img{
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
}
.social_media img:hover{
    transition: 0.2s ease;
    background: var(--color-primary);
    transform: scale(1.1);
}